.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  background-color: #cc7b1f;
  color: white;
  padding: 0 20px;
}

.header-title {
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.header-icons {
  display: flex;
  gap: 10px;
}

.inbox-container {
  position: relative;
}

.inbox-badge {
  position: absolute;
  top: -8px;
  right: -8px;
  min-width: 16px;
  height: 16px;
  padding: 0 4px;
  border-radius: 50%;
  background-color: red;
  color: white;
  font-size: 12px;
  font-weight: 40;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
}

.material-symbols-outlined {
  cursor: pointer;
}
