.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  background-color: #cc7b1f;
  color: white;
  padding: 0 20px;
}

.header-title {
  font-size: 24px;
  font-weight: bold;
}
