@if (role()) {
  <div class="home-container">
    <span>Bienvenue, {{ username() }} !</span>
    <span>Votre rôle : {{ role() }}</span>
    <button (click)="onHistoryClick()">Accéder à l'historique des chats</button>
    @if (role() === 'USER') {
      <div class="new-chat-container">
        <h2>Créer un nouveau chat</h2>
        <input
          placeholder="Sujet du chat"
          [ngModel]="chatSubject()"
          (ngModelChange)="chatSubject.set($event)"
        />
        @if (subjectError()) {
          <span class="error">Le sujet est requis.</span>
        }

        <textarea
          placeholder="Saisissez votre message..."
          [ngModel]="chatContent()"
          (ngModelChange)="chatContent.set($event)"
        >
        </textarea>
        @if (contentError()) {
          <span class="error">Le message est requis.</span>
        } @else if (serverError()) {
          <span class="error">Une erreur s'est produite, veuillez réessayer ultérieurement.</span>
        }
        <button (click)="createNewSupportTicket()">Envoyer</button>
      </div>
    } @else if (role() === 'SUPPORT') {
      <h2>Tickets en attente</h2>
      <div class="support-history-container">
        <div class="support-history-inner">
          @for (ticket of waitingTicketsService.waitingTickets(); track $index) {
            <app-chat-history-element
              (click)="onWaitingTicketClick(ticket.id)"
              [ticket]="ticket"
            ></app-chat-history-element>
          }
        </div>
      </div>
    }
  </div>
}
